/* .imagenDeQuienSoy{
    width: 100%;
   
    }
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #1abc9c; 
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; 
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; 
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; 
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
} */

.complete-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}


  .navbar-brand{
      color: white;
  }

  .container-info{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
  }

  .info-personal{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
  }

  p {font-size: 16px;}

  h2{
      font-size: 30px;
  }

  h3{
      font-size: 26px;
  }

  h4{
      font-size: 20px;
  }

  .descargar{
     color: red;
  }
  .margin{
      margin: 5px;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.img-responsive{
    width: 70%;
}

