<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="./">Sala de Juegos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Menú de Juegos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="Juego('Adivina')">Adivina</a>
          <a class="dropdown-item" (click)="Juego('PPT')">Piedra papel o tijera</a>
          <a class="dropdown-item" (click)="Juego('Agilidad')">Agilidad</a>
          <a class="dropdown-item" (click)="Juego('Anagrama')">Anagrama</a>
          <a class="dropdown-item" (click)="Juego('Tateti')">TA-TE-TI</a>
          <a class="dropdown-item" (click)="Juego('Simon')">Simon</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="Juego('AdivinaMasListado')">Adivina+listado</a>
          <a class="dropdown-item" (click)="Juego('AgilidadaMasListado')">Agilidad+listado</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="./Juegos">A Menú de Juegos</a>
          <a class="dropdown-item" href="#">Salir</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
