<div class="back">
<app-cabecera></app-cabecera>


<div class="container">



  <div class="hero-text">
    <h1>Menú Principal</h1>
  </div>

  <div class="tabla">
    <table>
      <tr>
        <td>
          <a routerLink="/Juegos">
            <div class="media">
              <div class="media-left">
                <img src="./assets/imagenes/saladejuegos.png" class="media-object imagenDeMenu">
              </div>
              <div class="media-body">
                <!-- <h3 class="media-heading">Juegos</h3> -->
                <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los
                  estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se
                  apropien
                  de los temas impartidos por los docentes utilizando el juego.</p>
              </div>

            </div>
          </a>
        </td>

        <td>
          <a routerLink="/Listado">
            <div class="media">
              <div class="media-left">
                <img src="./assets/imagenes/listado.png" class="media-object imagenDeMenu">
              </div>
              <div class="media-body">
                <!-- <h3 class="media-heading">Listados de resultados</h3> -->
                <p>Los listados de los resultados con ordenamiento y busqueda</p>
              </div>

            </div>
          </a>
        </td>
      </tr>


      <tr>
        <td>
          <a routerLink="/error">
            <div class="media">
              <div class="media-left">
                <img src="./assets/imagenes/Configuracion.png" class="media-object imagenDeMenu">
              </div>
              <div class="media-body">
                <!-- <h3 class="media-heading">Configuraci&oacute;n</h3> -->
                <p>Ajustes de la aplicacion y los métodos de autentificación</p>
              </div>

            </div>
          </a>
        </td>

        <td>
          <a routerLink="/Jugadores">
            <div class="media">
              <div class="media-left">
                <img src="./assets/imagenes/jugadores.png" class="media-object imagenDeMenu">
              </div>
              <div class="media-body">
                <!-- <h3 class="media-heading">Jugadores</h3> -->
                <p>Listado de jugadores</p>
              </div>

            </div>
          </a>
        </td>
      </tr>
    </table>
  </div>



</div>

</div>