<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img height=300px src="./assets/imagenes/cerebro.jpg" alt="">
            <div class="card-body">
              <h2>Velocidad y Agilidad Aritmética</h2>
              <p class="title">Juego de agilidad mental</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-lg btn-success" (click)="Juego('Agilidad')">Jugar</button>
                </div>
                <small class="text-muted">UTN FRA</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img height=300px src="./assets/imagenes/ppt.jpg" alt="game">
            <div class="card-body">
              <h2>Piedra papel o tijera                   </h2>
              <p class="title">Juga contra la máquina</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-lg btn-success" (click)="Juego('PPT')">Jugar</button>
                </div>
                <small class="text-muted">UTN FRA</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img height=300px src="./assets/imagenes/adivina.png" alt="game">
            <div class="card-body">
              <h2>Adiviná el número secreto</h2>
              <p class="title">Juego de estrategia</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-lg btn-success" (click)="Juego('Adivina')">Jugar</button>
                </div>
                <small class="text-muted">UTN FRA</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img height=300px src="./assets/imagenes/anagrama.png" alt="game">
            <div class="card-body">
              <h2>Anagrama</h2>
              <p class="title">Juego de palabras</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-lg btn-success" (click)="Juego('Anagrama')">Jugar</button>
                </div>
                <small class="text-muted">UTN FRA</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img height=300px src="./assets/imagenes/tateti.jpg" alt="game">
            <div class="card-body">
              <h2>TA-TE-TI</h2>
              <p class="title">Juego de habilidad</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-lg btn-success" (click)="Juego('Tateti')">Jugar</button>
                </div>
                <small class="text-muted">UTN FRA</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img height=300px src="./assets/imagenes/simon.jpg" alt="game">
            <div class="card-body">
              <h2>Simon dice</h2>
              <p class="title">Juego de memoria propio</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-lg btn-success" (click)="Juego('Simon')">Jugar</button>
                </div>
                <small class="text-muted">UTN FRA</small>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>




