  .icons{
    display: flex;
    justify-content: space-around;
  }

  .btn-group{
    margin-top: 20px;
  }

  .back{
    background: url(../../../assets/imagenes/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}