<body>
  <h2 id="terminos" class="texto">Terminos y condiciones</h2>
  <div class="info texto">
    <p>El Gobierno de la República Argentina (en adelante el “Gobierno Nacional”) no es responsable por los daños y perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos, indirectos, que surjan en relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con cualquier falla en el vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de computadora o falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
    <p>El Gobierno Nacional no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático.</p>
    <p>El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los Usuarios sea completamente segura. El Usuario asume este riesgo.</p>
   
  </div>
  <strong><p class="texto">No leer lo anterior, es solo un ejemplo sacado de https://www.argentina.gob.ar/terminos-y-condiciones </p></strong>
  <div class="botones">
  <button mat-raised-button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Acepto</button>
  <button mat-raised-button  class="cancelbtn"  routerLink="/Principal" style="width:auto;">No acepto</button>
</div>
  <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
   
   


    <div style="padding: 20px;">
      <div class="div-formulario">
        <h1 style="text-align: center;">Nuevo Usuario</h1>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Ingrese correo" [(ngModel)]="jugadorNuevo.usuario" name="email" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Sexo</mat-label>
          <input matInput type="text" placeholder="Ingrese sexo" [(ngModel)]="jugadorNuevo.sexo" name="sexo" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Cuit</mat-label>
          <input matInput type="text" placeholder="Ingrese cuit" [(ngModel)]="jugadorNuevo.cuit" name="cuit" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Clave</mat-label>
          <input matInput type="password" placeholder="Ingrese la clave" [(ngModel)]="jugadorNuevo.clave" name="psw" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Repita la clave</mat-label>
          <input matInput type="password" placeholder="Repita la clave" name="psw" required>
        </mat-form-field>
    
        <div class="check">
          <mat-checkbox checked="checked" color="primary">Recordar mis datos</mat-checkbox>
        </div>
    
        <div class="clearfix">
          <button type="button" mat-raised-button onclick="document.getElementById('id01').style.display='none'" 
            class="cancelbtn">Cancelar</button>
          <button type="submit" mat-raised-button class="signupbtn" (click)="registrarJugador()">Registrarme</button>
        </div>
      </div>
    </div>

   

  </div>
  
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
  
  </body>








