
/* .container{
    display: flex;
    height: 70%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.div-general {
    display: flex;
    height: 90%;
    width: 100%;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    flex-direction: column;
}

.avatar{
    width: 70%;
    height: 90%;
    
}

.imgcontainer {
    width: 40%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;

}

.div-formulario {
    width: 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.example-full-width {
    width: 100%;
}

.check{

    margin: 10px;

}

.btn-info{
    width: 100%;
    
} */



body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			/* background: #60a3bc !important; */
		}
		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #63ff8ad8;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #63ff8ad8;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.cancelbtn {
			width: 100%;
			background: #f0432f !important;
			color: white !important;
        }
        .login_btn {
			width: 100%;
			background: #25da3d !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #ee6957 !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #ee6957 !important;
		}