<body>

    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header" style="text-align: center;">
                            <div class="col-xs-11 h1"> Piedra, papel o tijera</div>
                        </div>
                        <div class="card-body">
                            <div class="col-xs-11 h3 subtitle" style="text-align: center;"> Seleccioná una opción para
                                jugar!</div>
                            <form action="" name="juego" method="">

                                <div class="player-menu btn-group-lg form-group row">
                                    <button class="btn btn-default btn-outline-primary btn-lg"
                                        [(ngModel)]="nuevoJuego.eleccionHumano" value="Piedra" name="Piedra"
                                        (click)="NuevoJuego()"><i class="fa fa-hand-rock-o"></i>
                                    </button>

                                    <button class="btn btn-default btn-outline-danger btn-lg"
                                        [(ngModel)]="nuevoJuego.eleccionHumano" value="Papel" name="Papel"
                                        (click)="NuevoJuego()"><i class="fa fa-hand-paper-o"></i>
                                    </button>

                                    <button class="btn btn-default btn-outline-warning btn-lg"
                                        [(ngModel)]="nuevoJuego.eleccionHumano" value="Tijera" name="Tijera"
                                        (click)="NuevoJuego()"><i class="fa fa-hand-scissors-o"></i>
                                    </button>
                                </div>

                            </form>
                            <div class="form-group row">
                                <button (click)="verificar()" class="btn btn-lg btn-outline-success"
                                    style="text-align: center; align-items: center; width: 40%;">Jugar!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <div *ngIf="winner">
        <h3>
            Ganaste! Elegiste {{nuevoJuego.eleccionHumano}} y la PC eligió {{nuevoJuego.eleccionPC}}
        </h3>
    </div>

    <div *ngIf="loser">
        <h3>
            Perdiste! Elegiste {{nuevoJuego.eleccionHumano}} y la PC eligió {{nuevoJuego.eleccionPC}}
        </h3>
    </div>

    <div *ngIf="tie">
        <h3>
            Empataste! Elegiste {{nuevoJuego.eleccionHumano}} y la PC eligió {{nuevoJuego.eleccionPC}}
        </h3>
    </div>




</body>